main.html
[
    {
        "id": "42cf2a1b.a5b9c4",
        "type": "tab",
        "label": "bank "
    },
    {
        "id": "db799bec.baf5d8",
        "type": "inject",
        "z": "42cf2a1b.a5b9c4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 153.46070909500122,
        "y": 775.1331310272217,
        "wires": [
            [
                "c8b85e1d.886e"
            ]
        ]
    },
    {
        "id": "c8b85e1d.886e",
        "type": "function",
        "z": "42cf2a1b.a5b9c4",
        "name": "prepforAPIcall getBanks",
        "func": "\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\" 70ce2fe532664019b4ba950f48e1fd3e\"\n    };\n\n\n// msg.payload  = {\"tablename\":\"Input data\", \n// \"header\":[\"customerID\",\"gender\",\"SeniorCitizen\",\"Partner\",\"Dependents\",\"tenure\",\"PhoneService\",\"MultipleLines\",\"InternetService\",\"OnlineSecurity\",\"OnlineBackup\",\"DeviceProtection\",\"TechSupport\",\"StreamingTV\",\"StreamingMovies\",\"Contract\",\"PaperlessBilling\",\"PaymentMethod\",\"MonthlyCharges\",\"TotalCharges\",\"Churn\",\"SampleWeight\"], \n// \"data\":[[\"5919-TMRGD\",\"Female\",\"0\",\"No\",\"Yes\",\"1\",\"Yes\",\"No\",\"Fiber optic\",\"No\",\"No\",\"No\",\"No\",\"Yes\",\"No\",\"Month-to-month\",\"Yes\",\"Electronic check\",79.350,79.350,\"Yes\",1.000]]\n// };\n \n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 463.2295684814453,
        "y": 731.1220092773438,
        "wires": [
            [
                "e7ca4bfe.81f138"
            ]
        ]
    },
    {
        "id": "e7ca4bfe.81f138",
        "type": "http request",
        "z": "42cf2a1b.a5b9c4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "http://api.bocapi.net/v1/api/banks",
        "tls": "",
        "x": 675.8962554931641,
        "y": 791.955322265625,
        "wires": [
            [
                "f71443f0.e98d1"
            ]
        ]
    },
    {
        "id": "f71443f0.e98d1",
        "type": "switch",
        "z": "42cf2a1b.a5b9c4",
        "name": "if BANK ID returned",
        "property": "payload.banks[0].full_name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 400.3406524658203,
        "y": 907.5108642578125,
        "wires": [
            [],
            [
                "1e9a5820.ad90a8",
                "6540a9b3.4cddb8"
            ]
        ]
    },
    {
        "id": "1e9a5820.ad90a8",
        "type": "debug",
        "z": "42cf2a1b.a5b9c4",
        "name": "bankid",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 697.2295684814453,
        "y": 913.6220092773438,
        "wires": []
    },
    {
        "id": "a2985220.77f7",
        "type": "watson-conversation-v1",
        "z": "42cf2a1b.a5b9c4",
        "name": "",
        "workspaceid": "",
        "multiuser": false,
        "context": true,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
        "x": 781.3968200683594,
        "y": 643.5953941345215,
        "wires": [
            []
        ]
    },
    {
        "id": "6540a9b3.4cddb8",
        "type": "function",
        "z": "42cf2a1b.a5b9c4",
        "name": "prepforAPIcall SPECIFIC bank id",
        "func": "\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"70ce2fe532664019b4ba950f48e1fd3e\",\n    \"Auth-Provider-Name\":\"devuser\",\n    \"Auth-ID\":\"123456789\"\n    };\n\nmsg.bankid  = msg.payload.banks[0].id; \n// msg.payload  = {\"tablename\":\"Input data\", \n// \"header\":[\"customerID\",\"gender\",\"SeniorCitizen\",\"Partner\",\"Dependents\",\"tenure\",\"PhoneService\",\"MultipleLines\",\"InternetService\",\"OnlineSecurity\",\"OnlineBackup\",\"DeviceProtection\",\"TechSupport\",\"StreamingTV\",\"StreamingMovies\",\"Contract\",\"PaperlessBilling\",\"PaymentMethod\",\"MonthlyCharges\",\"TotalCharges\",\"Churn\",\"SampleWeight\"], \n// \"data\":[[\"5919-TMRGD\",\"Female\",\"0\",\"No\",\"Yes\",\"1\",\"Yes\",\"No\",\"Fiber optic\",\"No\",\"No\",\"No\",\"No\",\"Yes\",\"No\",\"Month-to-month\",\"Yes\",\"Electronic check\",79.350,79.350,\"Yes\",1.000]]\n// };\n \n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 294,
        "y": 1080,
        "wires": [
            [
                "95c02f7d.2938d"
            ]
        ]
    },
    {
        "id": "95c02f7d.2938d",
        "type": "debug",
        "z": "42cf2a1b.a5b9c4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload.banks[0].full_name",
        "x": 806.388916015625,
        "y": 1018.2222900390625,
        "wires": []
    }
]
