nodered_code/flow.json
[{"id":"42cf2a1b.a5b9c4","type":"tab","label":"MAP"},{"id":"90229b47.58d298","type":"tab","label":"Balance/Transaction"},{"id":"8fb10fb2.5d2bf","type":"tab","label":"Back-up"},{"id":"fee8eebd.19834","type":"tab","label":"Flow 1"},{"id":"6191480b.fcc298","type":"tab","label":"VR"},{"id":"c236c1a.2f0144","type":"websocket-listener","z":"","path":"/ws/map","wholemsg":"false"},{"id":"95c67ae1.95e948","type":"websocket-listener","path":"/ws/stations","wholemsg":"false"},{"id":"ce0a0ba4.c46088","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"d9df3e13.e7661","type":"websocket-listener","z":"","path":"/ws/map","wholemsg":"false"},{"id":"f78c719a.fb06f","type":"websocket-listener","path":"/ws/stations","wholemsg":"false"},{"id":"798e141.dd694ec","type":"websocket-listener","z":"","path":"/ws/map","wholemsg":"false"},{"id":"66f0f4cf.0633ec","type":"websocket-listener","z":"","path":"/ws/stations","wholemsg":"false"},{"id":"8bbade7b.169af","type":"websocket-listener","z":"","path":"/ws/map","wholemsg":"false"},{"id":"8d4cbf47.72f24","type":"websocket-listener","path":"/ws/stations","wholemsg":"false"},{"id":"a5e060c3.a9f78","type":"websocket-listener","z":"","path":"/ws/map","wholemsg":"false"},{"id":"261a5627.9d158a","type":"websocket-listener","z":"","path":"/ws/locs","wholemsg":"false"},{"id":"85391cca.8266d","type":"google-api-config","z":""},{"id":"db799bec.baf5d8","type":"inject","z":"42cf2a1b.a5b9c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1004.8178176879883,"y":694.5564765930176,"wires":[["c8b85e1d.886e"]]},{"id":"c8b85e1d.886e","type":"function","z":"42cf2a1b.a5b9c4","name":"prepforAPIcall getBanks","func":"\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\" 70ce2fe532664019b4ba950f48e1fd3e\"\n    };\n\n\n// msg.payload  = {\"tablename\":\"Input data\", \n// \"header\":[\"customerID\",\"gender\",\"SeniorCitizen\",\"Partner\",\"Dependents\",\"tenure\",\"PhoneService\",\"MultipleLines\",\"InternetService\",\"OnlineSecurity\",\"OnlineBackup\",\"DeviceProtection\",\"TechSupport\",\"StreamingTV\",\"StreamingMovies\",\"Contract\",\"PaperlessBilling\",\"PaymentMethod\",\"MonthlyCharges\",\"TotalCharges\",\"Churn\",\"SampleWeight\"], \n// \"data\":[[\"5919-TMRGD\",\"Female\",\"0\",\"No\",\"Yes\",\"1\",\"Yes\",\"No\",\"Fiber optic\",\"No\",\"No\",\"No\",\"No\",\"Yes\",\"No\",\"Month-to-month\",\"Yes\",\"Electronic check\",79.350,79.350,\"Yes\",1.000]]\n// };\n \n\n\nreturn msg;","outputs":1,"noerr":0,"x":455.8080749511719,"y":726.8811206817627,"wires":[["e7ca4bfe.81f138"]]},{"id":"e7ca4bfe.81f138","type":"http request","z":"42cf2a1b.a5b9c4","name":"","method":"GET","ret":"obj","url":"http://api.bocapi.net/v1/api/banks","tls":"","x":704.5221977233887,"y":768.6304941177368,"wires":[["f71443f0.e98d1"]]},{"id":"f71443f0.e98d1","type":"switch","z":"42cf2a1b.a5b9c4","name":"if BANK ID returned","property":"payload.banks[0].id","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":391.2803955078125,"y":904.3904323577881,"wires":[[],["6540a9b3.4cddb8","1e9a5820.ad90a8"]]},{"id":"1e9a5820.ad90a8","type":"debug","z":"42cf2a1b.a5b9c4","name":"bankid","active":false,"console":"false","complete":"true","x":722.6748809814453,"y":873.3336420059204,"wires":[]},{"id":"6540a9b3.4cddb8","type":"function","z":"42cf2a1b.a5b9c4","name":"prepforAPIcall SPECIFIC bank id","func":"\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"70ce2fe532664019b4ba950f48e1fd3e\",\n    \"Auth-Provider-Name\":\"devuser\",\n    \"Auth-ID\":\"123456789\"\n    };\n\nmsg.bankid  = msg.payload.banks[0].id; \n// msg.payload  = {\"tablename\":\"Input data\", \n// \"header\":[\"customerID\",\"gender\",\"SeniorCitizen\",\"Partner\",\"Dependents\",\"tenure\",\"PhoneService\",\"MultipleLines\",\"InternetService\",\"OnlineSecurity\",\"OnlineBackup\",\"DeviceProtection\",\"TechSupport\",\"StreamingTV\",\"StreamingMovies\",\"Contract\",\"PaperlessBilling\",\"PaymentMethod\",\"MonthlyCharges\",\"TotalCharges\",\"Churn\",\"SampleWeight\"], \n// \"data\":[[\"5919-TMRGD\",\"Female\",\"0\",\"No\",\"Yes\",\"1\",\"Yes\",\"No\",\"Fiber optic\",\"No\",\"No\",\"No\",\"No\",\"Yes\",\"No\",\"Month-to-month\",\"Yes\",\"Electronic check\",79.350,79.350,\"Yes\",1.000]]\n// };\n \n\n\nreturn msg;","outputs":1,"noerr":0,"x":299.30108642578125,"y":1056.6752071380615,"wires":[["95c02f7d.2938d","90904cb4.5cce5","44620693.ecba78"]]},{"id":"95c02f7d.2938d","type":"debug","z":"42cf2a1b.a5b9c4","name":"","active":false,"console":"false","complete":"payload.banks[0].full_name","x":806.388916015625,"y":1018.2222900390625,"wires":[]},{"id":"d8b7e323.e5058","type":"debug","z":"42cf2a1b.a5b9c4","name":"ACCOUNT DETAILS","active":false,"console":"false","complete":"payload.balance.amount","x":791.7116928100586,"y":1370.28870677948,"wires":[]},{"id":"783759c0.24c168","type":"http request","z":"42cf2a1b.a5b9c4","name":"","method":"GET","ret":"obj","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/accounts/{{accountid}}/{{viewid}}/account","tls":"","x":576.5121231079102,"y":1494.3445649147034,"wires":[["d8b7e323.e5058"]]},{"id":"62ced789.e5d438","type":"function","z":"42cf2a1b.a5b9c4","name":"prpforAPIcall SPECIFIC account and bank and view id","func":"msg.accountid = msg.payload.accounts[0].id;\nmsg.viewid = msg.payload.accounts[0].views_available[0].id;\nmsg.bankid = msg.payload.accounts[0].bank_id;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"26150fd04c3c482bb95af58fc47bf462\",\n    \"Auth-Provider-Name\":\"03310909626700\",\n    \"Auth-ID\":\"123456789\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":362.68656158447266,"y":1315.9211158752441,"wires":[["783759c0.24c168"]]},{"id":"39bf826e.b6fcde","type":"json","z":"42cf2a1b.a5b9c4","name":"","x":417.4456787109375,"y":1216.921169757843,"wires":[["62ced789.e5d438"]]},{"id":"90904cb4.5cce5","type":"http request","z":"42cf2a1b.a5b9c4","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/accounts","tls":"","x":304.9456787109375,"y":1159.171169757843,"wires":[["39bf826e.b6fcde"]]},{"id":"44620693.ecba78","type":"http request","z":"42cf2a1b.a5b9c4","name":"","method":"GET","ret":"obj","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/atms","tls":"","x":656.1661434173584,"y":1157.8786373138428,"wires":[["ebfc6c7a.3a6da","2201aeb1.040002","5ea76c59.d976f4"]]},{"id":"ebfc6c7a.3a6da","type":"debug","z":"42cf2a1b.a5b9c4","name":"atms","active":true,"console":"false","complete":"payload","x":1025.8051834106445,"y":1077.7924394607544,"wires":[]},{"id":"f433cb7.3279638","type":"function","z":"42cf2a1b.a5b9c4","name":"get map on one atm","func":"var dist, latt,longg, min = 10000;\nfor(var i = 0;i<124;i++){\n    \n}\n    //msg.lat = msg.payload.atms[pos].location.latitude;    \n    //msg.lon = msg.payload.atms[pos].location.longitude;\n    \n    var po = global.get(\"foo\");\nmsg.payload = {\"lat\": \"msg.lat\", \"lon\": \"msg.lon\", \"var\":po};\n\nreturn msg;","outputs":1,"noerr":0,"x":1182.1904296875,"y":1185.4518280029297,"wires":[["12715e8a.909c91","c96b4a21.1e8e88"]]},{"id":"65e6937e.4b3cec","type":"debug","z":"42cf2a1b.a5b9c4","name":"lat lon","active":false,"console":"false","complete":"payload","x":1623.920986175537,"y":1091.5899066925049,"wires":[]},{"id":"12715e8a.909c91","type":"template","z":"42cf2a1b.a5b9c4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n       #map {\n        height: 400px;\n        width: 100%;\n       }\n    </style>\n  </head>\n  <body>\n    <h3>My Google Maps Demo</h3>\n    <div id=\"map\"></div>\n    <script>\n\n    var lat = 34;\n\n    var lng = 45;\n      function initMap() {\n        var uluru = {lat:lat, lng: lng};\n        var map = new google.maps.Map(document.getElementById('map'), {\n          zoom: 4,\n          center: uluru\n        });\n        var marker = new google.maps.Marker({\n          position: uluru,\n          map: map\n        });\n      }\n    </script>\n    <script async defer\n    src=\"https://maps.googleapis.com/maps/api/js?key= AIzaSyDEu36gOfXSmEKkIAw3iDfFR5vnleZQ_f4 &callback=initMap\">\n    </script>\n  </body>\n</html>","x":1630.6562767028809,"y":1186.7539010047913,"wires":[["5d984b6.16e0bb4"]]},{"id":"5d984b6.16e0bb4","type":"debug","z":"42cf2a1b.a5b9c4","name":"","active":false,"console":"false","complete":"payload","x":1564.2033958435059,"y":1323.0043258666992,"wires":[]},{"id":"2201aeb1.040002","type":"function","z":"42cf2a1b.a5b9c4","name":"","func":"for(var i = 0;i<124;i++){\n    if(msg.payload.atms[i].address.postcode === \"2311\")\n        return msg;\n}\n","outputs":1,"noerr":0,"x":788.1526145935059,"y":1243.6534633636475,"wires":[["aaf1d76a.929d08"]]},{"id":"aaf1d76a.929d08","type":"debug","z":"42cf2a1b.a5b9c4","name":"","active":false,"console":"false","complete":"payload.atms.address.postcode","x":1080.2076568603516,"y":1347.0802941322327,"wires":[]},{"id":"c96b4a21.1e8e88","type":"debug","z":"42cf2a1b.a5b9c4","name":"","active":false,"console":"false","complete":"payload","x":1434.5336151123047,"y":1225.3867168426514,"wires":[]},{"id":"ca66f68a.a1bbb8","type":"template","z":"42cf2a1b.a5b9c4","name":"mine","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <title>ATM map BOC</title>\n    <style>\n      html, body, #map-canvas {\n        height: 100%;\n        margin: 0px;\n        padding: 0px\n      }\n    </style>\n    <script src=\"https://maps.googleapis.com/maps/api/js?key=AIzaSyDm6NA--KwnCV_1FofO46AMeQkxD-22ROs&ampcallback=initMap\"></script>\n    <script>\n        \n        function degreesToRadians(degrees) {\n          return degrees * Math.PI / 180;\n        }\n        \n        function distanceInKmBetweenEarthCoordinates(lat1, lon1, lat2, lon2) {\n          var earthRadiusKm = 6371;\n        \n          var dLat = degreesToRadians(lat2-lat1);\n          var dLon = degreesToRadians(lon2-lon1);\n        \n          lat1 = degreesToRadians(lat1);\n          lat2 = degreesToRadians(lat2);\n        \n          var a = Math.sin(dLat/2) * Math.sin(dLat/2) +\n                  Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); \n          var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n          return earthRadiusKm * c;\n        }\n\t\tfunction initialize() {\n\n\t\t  var myLatlng = new google.maps.LatLng(35.1856,33.3823);\n\t\t  var mapOptions = {\n\t\t    zoom: 8,\n\t\t    center: myLatlng\n\t\t  };\n\t\t  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n\t\t  var  infoWindow = new google.maps.InfoWindow;\n          var dist=100;\t\t  \n\n\t\t  if (navigator.geolocation) {\n              navigator.geolocation.getCurrentPosition(function(position) {\n                pos = {\n                  lat: position.coords.latitude,\n                  lng: position.coords.longitude\n                };\n               // global.set(\"pos\",pos);\n                infoWindow.setPosition(pos);\n                infoWindow.setContent('My Location !');\n                infoWindow.open(map);\n                map.setCenter(pos);\n              }, function() {\n                handleLocationError(true, infoWindow, map.getCenter());\n              });\n\t\t  }\n\n\t\t  \n\t\t  /*if (navigator.geolocation) {\n              console.log('Geolocation is supported!');\n              var startPos;\n              var geoSuccess = function(position) {\n                startPos = position;\n                console.log(startPos);\n                \n                var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';\n                var markerLoc = new google.maps.Marker({\n        \t\t\tposition: new google.maps.LatLng(startPos.coords.latitude,startPos.coords.longitude),\n        \t\t\tmap: map,\n        \t\t\ticon: image,\n        \t\t\tanimation: google.maps.Animation.DROP,\n        \t\t\ttitle: \"My location\"\n        \t    });\n              };\n              navigator.geolocation.getCurrentPosition(geoSuccess);\n              \n            }\n            else {\n                console.log('Geolocation is not supported for this Browser/OS.');\n            }*/\n\n\t\t  var loc = window.location;\n          if (loc.protocol === \"https:\") {\n            newUri = \"wss:\";\n          } else {\n            newUri = \"ws:\";\n          }\n          newUri += \"//\" + loc.host + \"/ws/locs\";\n\t\t  // check for Geolocation support\n\t\t \n\n          \n\n\t\t  \n\t\t  var sock = new WebSocket(newUri);\n\t\t  sock.onopen = function(){ \n\t\t    console.log(\"Connected websocket\");\n\t\t    console.log(\"Sending ping..\");\n\t\t\tsock.send(\"Ping!\");\n\t\t    console.log(\"Ping sent..\");\n\t\t  };\n\t\t  sock.onerror = function(){ console.log(\"Websocket error\"); };\n\t\t  sock.onmessage = function(evt){\n\t\t    var stationData = JSON.parse(evt.data);\n\t\t    console.log(stationData.atms);\n\t\t   //var stations = stationData.root.stations[0].station;\n\t\t\tfor(var i = 0; i < stationData.atms.length; i++) {\n\t\t\t \n\t\t\t  var station = stationData.atms[i];\n\t\t\n              var marker = new google.maps.Marker({\n\t\t\t    position: new google.maps.LatLng(station.location.latitude,station.location.longitude),\n\t\t\t    map: map,\n\t\t\t    animation: google.maps.Animation.DROP,\n\t\t\t    title: station.name\n\t\t\t  });\n\t\t\t  //console.log(global.get(\"pos\"));\n\t\t\t  console.log(distanceInKmBetweenEarthCoordinates(pos.lat, pos.lng, station.location.latitude,station.location.longitude));\n\t\t\t  console.log(pos.lat +\",\"+ pos.lng +\",\"+ station.location.latitude +\",\"+ station.location.longitude);\n              var dist2 = distanceInKmBetweenEarthCoordinates(pos.lat, pos.lng, station.location.latitude,station.location.longitude);\n              if(dist > dist2){\n                  dist = dist2;\n              }\n\t\t\t  console.log(\"distance: \" +dist);\n\t\t\t}\n\t\t\t\n\n\t\t\t\n\t\t  };\n\t\t  \n\t\t};\n\t\t\n\t\tgoogle.maps.event.addDomListener(window, 'load', initialize);\n        \n    </script>\n  </head>\n  <body>\n    <div id=\"map-canvas\"></div>\n  </body>\n</html>","x":612.6969604492188,"y":1684.9259033203125,"wires":[[]]},{"id":"857e3328.9eea6","type":"http response","z":"42cf2a1b.a5b9c4","name":"","x":777.6969604492188,"y":1682.9259033203125,"wires":[]},{"id":"e04a8da5.aeb9e","type":"http in","z":"42cf2a1b.a5b9c4","name":"","url":"/map","method":"get","swaggerDoc":"","x":398.69696044921875,"y":1685.9259033203125,"wires":[["b66a3163.35ad2"]]},{"id":"8fdf6cf8.67142","type":"inject","z":"8fb10fb2.5d2bf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180.765625,"y":349.54148602485657,"wires":[["463190ee.597fe"]]},{"id":"463190ee.597fe","type":"function","z":"8fb10fb2.5d2bf","name":"prepforAPIcall getBanks","func":"\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\" 70ce2fe532664019b4ba950f48e1fd3e\"\n    };\n\n\n// msg.payload  = {\"tablename\":\"Input data\", \n// \"header\":[\"customerID\",\"gender\",\"SeniorCitizen\",\"Partner\",\"Dependents\",\"tenure\",\"PhoneService\",\"MultipleLines\",\"InternetService\",\"OnlineSecurity\",\"OnlineBackup\",\"DeviceProtection\",\"TechSupport\",\"StreamingTV\",\"StreamingMovies\",\"Contract\",\"PaperlessBilling\",\"PaymentMethod\",\"MonthlyCharges\",\"TotalCharges\",\"Churn\",\"SampleWeight\"], \n// \"data\":[[\"5919-TMRGD\",\"Female\",\"0\",\"No\",\"Yes\",\"1\",\"Yes\",\"No\",\"Fiber optic\",\"No\",\"No\",\"No\",\"No\",\"Yes\",\"No\",\"Month-to-month\",\"Yes\",\"Electronic check\",79.350,79.350,\"Yes\",1.000]]\n// };\n \n\n\nreturn msg;","outputs":1,"noerr":0,"x":566.395191192627,"y":160.51652336120605,"wires":[["9f16e426.848478"]]},{"id":"d82716c1.923bf8","type":"debug","z":"8fb10fb2.5d2bf","name":"bankid","active":false,"console":"false","complete":"payload.banks[0].id","x":962.2841682434082,"y":217.37763786315918,"wires":[]},{"id":"9f16e426.848478","type":"http request","z":"8fb10fb2.5d2bf","name":"","method":"GET","ret":"obj","url":"http://api.bocapi.net/v1/api/banks","tls":"","x":779.0618782043457,"y":221.3498363494873,"wires":[["d82716c1.923bf8","86d8a7b8.b33dc8"]]},{"id":"33961926.5e7806","type":"function","z":"8fb10fb2.5d2bf","name":"prepforAPIcall SPECIFIC bank id","func":"\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"70ce2fe532664019b4ba950f48e1fd3e\",\n    \"Auth-Provider-Name\":\"devuser\",\n    \"Auth-ID\":\"123456789\"\n    };\n\nmsg.bankid  = msg.payload.banks[0].id; \n// msg.payload  = {\"tablename\":\"Input data\", \n// \"header\":[\"customerID\",\"gender\",\"SeniorCitizen\",\"Partner\",\"Dependents\",\"tenure\",\"PhoneService\",\"MultipleLines\",\"InternetService\",\"OnlineSecurity\",\"OnlineBackup\",\"DeviceProtection\",\"TechSupport\",\"StreamingTV\",\"StreamingMovies\",\"Contract\",\"PaperlessBilling\",\"PaymentMethod\",\"MonthlyCharges\",\"TotalCharges\",\"Churn\",\"SampleWeight\"], \n// \"data\":[[\"5919-TMRGD\",\"Female\",\"0\",\"No\",\"Yes\",\"1\",\"Yes\",\"No\",\"Fiber optic\",\"No\",\"No\",\"No\",\"No\",\"Yes\",\"No\",\"Month-to-month\",\"Yes\",\"Electronic check\",79.350,79.350,\"Yes\",1.000]]\n// };\n \n\n\nreturn msg;","outputs":1,"noerr":0,"x":367.50627517700195,"y":756.2942333221436,"wires":[["10c10d9a.5c52b2","fbfea46f.d5d198","eaf80220.1d538","31551c3.eb588e4","4ba6b5d8.480b7c","8fbedbae.b54aa8","414f2800.c65e18"]]},{"id":"28e381e1.005e0e","type":"debug","z":"8fb10fb2.5d2bf","name":"debug02","active":false,"console":"false","complete":"true","x":962.2841682434082,"y":308.4887218475342,"wires":[]},{"id":"86d8a7b8.b33dc8","type":"switch","z":"8fb10fb2.5d2bf","name":"if BANK ID returned","property":"payload.banks[0].id","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":503.50627517700195,"y":336.9053783416748,"wires":[["28e381e1.005e0e"],["33961926.5e7806","bf5955.5ad106a8"]]},{"id":"c4ce8ed1.b01af","type":"debug","z":"8fb10fb2.5d2bf","name":"bank details","active":false,"console":"false","complete":"true","x":988.1808433532715,"y":364.73328971862793,"wires":[]},{"id":"10c10d9a.5c52b2","type":"http request","z":"8fb10fb2.5d2bf","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/bda8eb884efcef7082792d45/customer","tls":"","x":777.895191192627,"y":575.766523361206,"wires":[["bc724914.3ed448"]]},{"id":"bc724914.3ed448","type":"debug","z":"8fb10fb2.5d2bf","name":"customerID","active":false,"console":"false","complete":"payload","x":990.895191192627,"y":552.516523361206,"wires":[]},{"id":"bf5955.5ad106a8","type":"debug","z":"8fb10fb2.5d2bf","name":"bankid","active":false,"console":"false","complete":"true","x":800.395191192627,"y":343.01652336120605,"wires":[]},{"id":"fbfea46f.d5d198","type":"http request","z":"8fb10fb2.5d2bf","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks","tls":"","x":790.284107208252,"y":443.23869132995605,"wires":[["c4ce8ed1.b01af"]]},{"id":"eaf80220.1d538","type":"http request","z":"8fb10fb2.5d2bf","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/bda8eb884efcef7082792d45/customers/7a542b37a86d189b5dd0b947","tls":"","x":758.395191192627,"y":654.016523361206,"wires":[["cc56f5c2.668ad8"]]},{"id":"cc56f5c2.668ad8","type":"debug","z":"8fb10fb2.5d2bf","name":"customer details","active":false,"console":"false","complete":"payload","x":980.895191192627,"y":652.516523361206,"wires":[]},{"id":"31551c3.eb588e4","type":"http request","z":"8fb10fb2.5d2bf","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/accounts","tls":"","x":802.395191192627,"y":504.01652336120605,"wires":[["2a5d0baa.054b84"]]},{"id":"4ba6b5d8.480b7c","type":"debug","z":"8fb10fb2.5d2bf","name":"","active":false,"console":"false","complete":"payload","x":725.895191192627,"y":401.51652336120605,"wires":[]},{"id":"8dc80888.935b38","type":"function","z":"8fb10fb2.5d2bf","name":"get Accounts","func":"msg.payload = msg.payload.accounts;\nreturn msg;","outputs":1,"noerr":0,"x":1086.895191192627,"y":467.76652336120605,"wires":[["ec826ce8.a04ce"]]},{"id":"ec826ce8.a04ce","type":"debug","z":"8fb10fb2.5d2bf","name":"ACCOUNTS","active":true,"console":"false","complete":"payload","x":1314.895191192627,"y":462.51652336120605,"wires":[]},{"id":"2a5d0baa.054b84","type":"json","z":"8fb10fb2.5d2bf","name":"","x":938.895191192627,"y":466.76652336120605,"wires":[["8dc80888.935b38"]]},{"id":"8fbedbae.b54aa8","type":"http request","z":"8fb10fb2.5d2bf","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/accounts","tls":"","x":740.395191192627,"y":759.016523361206,"wires":[["5c6fe012.865c8"]]},{"id":"5c6fe012.865c8","type":"json","z":"8fb10fb2.5d2bf","name":"","x":852.895191192627,"y":816.766523361206,"wires":[["1baa176a.d2b719","8d200d1e.60a5b"]]},{"id":"1baa176a.d2b719","type":"function","z":"8fb10fb2.5d2bf","name":"prpforAPIcall SPECIFIC account and bank and view id","func":"\nmsg.accountid = msg.payload.accounts[0].id;\nmsg.viewid = msg.payload.accounts[0].views_available[0].id;\nmsg.bankid = msg.payload.accounts[0].bank_id;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"26150fd04c3c482bb95af58fc47bf462\",\n    \"Auth-Provider-Name\":\"03310909626700\",\n    \"Auth-ID\":\"123456789\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":793.895191192627,"y":915.766523361206,"wires":[["6110fd34.2ad734","12bc43aa.73053c","b450471e.0ec088"]]},{"id":"6110fd34.2ad734","type":"debug","z":"8fb10fb2.5d2bf","name":"ONE ACCount ID","active":false,"console":"false","complete":"accountid","x":1106.895191192627,"y":748.516523361206,"wires":[]},{"id":"b450471e.0ec088","type":"http request","z":"8fb10fb2.5d2bf","name":"","method":"GET","ret":"obj","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/accounts/{{accountid}}/{{viewid}}/account","tls":"","x":1011.9616355895996,"y":1094.1899185180664,"wires":[["e35bcd1b.bed18","28c3dc1.99d4a24","1abb763c.2ddcfa"]]},{"id":"e35bcd1b.bed18","type":"debug","z":"8fb10fb2.5d2bf","name":"ACCOUNT DETAILS","active":true,"console":"false","complete":"payload","x":1321.3900337219238,"y":876.7417159080505,"wires":[]},{"id":"12bc43aa.73053c","type":"debug","z":"8fb10fb2.5d2bf","name":"ONE View ID","active":false,"console":"false","complete":"viewid","x":1128.395191192627,"y":846.016523361206,"wires":[]},{"id":"30351e05.6857f2","type":"watson-text-to-speech","z":"8fb10fb2.5d2bf","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1577.1431846618652,"y":1489.848575592041,"wires":[["4de6af9e.8021c"]]},{"id":"28c3dc1.99d4a24","type":"switch","z":"8fb10fb2.5d2bf","name":"if account amount ..","property":"payload.balance.amount","propertyType":"msg","rules":[{"t":"lte","v":"1000","vt":"num"},{"t":"gt","v":"1000","vt":"num"}],"checkall":"true","outputs":2,"x":1309.5411949157715,"y":993.6005001068115,"wires":[["2f9f013d.b96cce"],["b4397739.de4c98"]]},{"id":"2f9f013d.b96cce","type":"template","z":"8fb10fb2.5d2bf","name":"<= 1000","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<express-as type=\"Apology\">This is not good, I'm afraid you only have: {{payload.balance.amount}} euros left on your bank account! </express-as>","x":1533.895191192627,"y":947.766523361206,"wires":[["30351e05.6857f2"]]},{"id":"b4397739.de4c98","type":"template","z":"8fb10fb2.5d2bf","name":"> 1000","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<express-as type=\"GoodNews\">Well Done ! you got {{payload.balance.amount}} euros left on your bank account, you are rich!</express-as>","x":1413.395191192627,"y":1060.016523361206,"wires":[["30351e05.6857f2"]]},{"id":"4de6af9e.8021c","type":"function","z":"8fb10fb2.5d2bf","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1787.395191192627,"y":1241.016523361206,"wires":[[]]},{"id":"daf7a08a.beb93","type":"debug","z":"8fb10fb2.5d2bf","name":"","active":false,"console":"false","complete":"payload","x":1221.895191192627,"y":1192.516523361206,"wires":[]},{"id":"d2e5548f.23e708","type":"template","z":"8fb10fb2.5d2bf","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello! I'm Allison, but you can change my voice however you wish. <voice-transformation type=\"Custom\" glottal_tension=\"-80%\"> For example, you can make my voice a bit softer, </voice-transformation> <voice-transformation type=\"Custom\" glottal_tension=\"40%\" breathiness=\"40%\"> or a bit strained. </voice-transformation><voice-transformation type=\"Custom\" timbre=\"Breeze\" timbre_extent=\"60%\"> You can alter my voice timbre making me sound like this person, </voice-transformation> <voice-transformation type=\"Custom\" timbre=\"Sunrise\"> or like another person in your different applications. </voice-transformation><voice-transformation type=\"Custom\" breathiness=\"90%\"> You can make my voice more breathy than it is normally. </voice-transformation><voice-transformation type=\"Young\" strength=\"80%\"> I can speak like a young girl. </voice-transformation><voice-transformation type=\"Custom\" pitch=\"-30%\" pitch_range=\"80%\" rate=\"60%\" glottal_tension=\"-80%\" timbre=\"Sunrise\"> And you can combine all this with modifications of my speech rate and my tone. </voice-transformation>","x":1292.895191192627,"y":1320.766523361206,"wires":[["30351e05.6857f2"]]},{"id":"14258ec3.6b9d21","type":"inject","z":"8fb10fb2.5d2bf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1190.8951797485352,"y":1246.2666034698486,"wires":[["d2e5548f.23e708"]]},{"id":"414f2800.c65e18","type":"http request","z":"8fb10fb2.5d2bf","name":"","method":"GET","ret":"obj","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/atms","tls":"","x":387.39519119262695,"y":915.016523361206,"wires":[["26f56e43.776882","488cf9a3.ce0fa8","85aecbae.54d488"]]},{"id":"3247c407.62ba3c","type":"debug","z":"8fb10fb2.5d2bf","name":"lat lon","active":false,"console":"false","complete":"payload","x":804.895191192627,"y":1179.516523361206,"wires":[]},{"id":"85aecbae.54d488","type":"function","z":"8fb10fb2.5d2bf","name":"get map on one atm","func":"msg.lat = msg.payload.atms[0].location.latitude;\nmsg.lon = msg.payload.atms[0].location.longitude;\nmsg.payload = {\"lat\": msg.lat, \"lon\": msg.lon};\nreturn msg;","outputs":1,"noerr":0,"x":604.895191192627,"y":1121.766523361206,"wires":[["3247c407.62ba3c","af05e072.d227b"]]},{"id":"a3c6e257.29aa8","type":"debug","z":"8fb10fb2.5d2bf","name":"","active":false,"console":"false","complete":"payload","x":731.395191192627,"y":1342.016523361206,"wires":[]},{"id":"af05e072.d227b","type":"template","z":"8fb10fb2.5d2bf","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n       #map {\n        height: 400px;\n        width: 100%;\n       }\n    </style>\n  </head>\n  <body>\n    <h3>My Google Maps Demo</h3>\n    <div id=\"map\"></div>\n    <script>\n\n    var lat = 34;\n\n    var lng = 45;\n      function initMap() {\n        var uluru = {lat:lat, lng: lng};\n        var map = new google.maps.Map(document.getElementById('map'), {\n          zoom: 4,\n          center: uluru\n        });\n        var marker = new google.maps.Marker({\n          position: uluru,\n          map: map\n        });\n      }\n    </script>\n    <script async defer\n    src=\"https://maps.googleapis.com/maps/api/js?key= AIzaSyDEu36gOfXSmEKkIAw3iDfFR5vnleZQ_f4 &callback=initMap\">\n    </script>\n  </body>\n</html>","x":543.395191192627,"y":1351.016523361206,"wires":[["a3c6e257.29aa8"]]},{"id":"26f56e43.776882","type":"xml","z":"8fb10fb2.5d2bf","name":"","x":595.395191192627,"y":988.016523361206,"wires":[[]]},{"id":"488cf9a3.ce0fa8","type":"debug","z":"8fb10fb2.5d2bf","name":"atms","active":false,"console":"false","complete":"payload","x":472.89519119262695,"y":1056.516523361206,"wires":[]},{"id":"470c7a7d.7719c4","type":"http response","z":"8fb10fb2.5d2bf","name":"","x":1361.581829071045,"y":1161.994306564331,"wires":[]},{"id":"8741970d.1ea398","type":"http in","z":"8fb10fb2.5d2bf","name":"","url":"/account","method":"get","swaggerDoc":"","x":245.0433235168457,"y":20,"wires":[["463190ee.597fe"]]},{"id":"1abb763c.2ddcfa","type":"template","z":"8fb10fb2.5d2bf","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\nMy amount is: {{payload.label}} eur !\n</html>","x":1191.895191192627,"y":1104.766523361206,"wires":[["470c7a7d.7719c4","daf7a08a.beb93"]]},{"id":"e84973fb.850f","type":"cloudant in","z":"8fb10fb2.5d2bf","name":"","cloudant":"","database":"","service":"bochackathon-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":165.375,"y":487.66015625,"wires":[[]]},{"id":"4d4434a2.0b7f1c","type":"cloudant in","z":"8fb10fb2.5d2bf","name":"","database":"","service":"","search":"_id_","design":"","index":"","x":1231.6328620910645,"y":296.65625381469727,"wires":[[]]},{"id":"8d200d1e.60a5b","type":"function","z":"8fb10fb2.5d2bf","name":"prpforAPIcall SPECIFIC account and bank and view id","func":"\nmsg.accountid = msg.payload.accounts[1].id;\nmsg.viewid = msg.payload.accounts[1].views_available[0].id;\nmsg.bankid = msg.payload.accounts[1].bank_id;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"26150fd04c3c482bb95af58fc47bf462\",\n    \"Auth-Provider-Name\":\"03310909626700\",\n    \"Auth-ID\":\"123456789\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":916.015625,"y":1281,"wires":[["b509376a.692448"]]},{"id":"b509376a.692448","type":"http request","z":"8fb10fb2.5d2bf","name":"","method":"GET","ret":"obj","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/accounts/{{accountid}}/{{viewid}}/account","tls":"","x":1134.0820693969727,"y":1459.4233951568604,"wires":[["ccd68a1b.193a38"]]},{"id":"ccd68a1b.193a38","type":"debug","z":"8fb10fb2.5d2bf","name":"ACCOUNT DETAILS","active":true,"console":"false","complete":"payload","x":1284.510612487793,"y":1558.9752826690674,"wires":[]},{"id":"5ea76c59.d976f4","type":"websocket out","z":"42cf2a1b.a5b9c4","name":"","server":"261a5627.9d158a","client":"","x":891.461441130634,"y":1196.8270351160775,"wires":[]},{"id":"9e0d0b18.4b1728","type":"websocket in","z":"42cf2a1b.a5b9c4","name":"","server":"261a5627.9d158a","client":"","x":619.9704818725586,"y":590.4511141777039,"wires":[["c8b85e1d.886e"]]},{"id":"b66a3163.35ad2","type":"template","z":"42cf2a1b.a5b9c4","name":"clems","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <title>ATM map BOC</title>\n    <style>\n      html, body, #map-canvas {\n        height: 100%;\n        margin: 0px;\n        padding: 0px\n      }\n    </style>\n    <script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp\"></script>\n    <script>\n        \n        function degreesToRadians(degrees) {\n          return degrees * Math.PI / 180;\n        }\n        \n        function distanceInKmBetweenEarthCoordinates(lat1, lon1, lat2, lon2) {\n          var earthRadiusKm = 6371;\n        \n          var dLat = degreesToRadians(lat2-lat1);\n          var dLon = degreesToRadians(lon2-lon1);\n        \n          lat1 = degreesToRadians(lat1);\n          lat2 = degreesToRadians(lat2);\n        \n          var a = Math.sin(dLat/2) * Math.sin(dLat/2) +\n                  Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); \n          var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n          return earthRadiusKm * c;\n        }\n\t\tfunction initialize() {\n\n\t\t  var myLatlng = new google.maps.LatLng(35.1856,33.3823);\n\t\t  var mapOptions = {\n\t\t    zoom: 15,\n\t\t    center: myLatlng\n\t\t  };\n\t\t  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n\t\t  var  infoWindow = new google.maps.InfoWindow;\n          var dist=100;\n\t\t  var positionL;\n\t\t  var curLat;\n          var curLng;\n\t\t  if (navigator.geolocation) {\n              navigator.geolocation.getCurrentPosition(function(position) {\n                pos = {\n                  lat: position.coords.latitude,\n                  lng: position.coords.longitude\n                };\n                positionL = pos;\n                infoWindow.setPosition(pos);\n                infoWindow.setContent('My Location !');\n                infoWindow.open(map);\n                map.setCenter(pos);\n              }, function() {\n                handleLocationError(true, infoWindow, map.getCenter());\n              });\n\t\t  }\n\n\t\t  \n\t\t  /*if (navigator.geolocation) {\n              console.log('Geolocation is supported!');\n              var startPos;\n              var geoSuccess = function(position) {\n                startPos = position;\n                console.log(startPos);\n                \n                var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';\n                var markerLoc = new google.maps.Marker({\n        \t\t\tposition: new google.maps.LatLng(startPos.coords.latitude,startPos.coords.longitude),\n        \t\t\tmap: map,\n        \t\t\ticon: image,\n        \t\t\tanimation: google.maps.Animation.DROP,\n        \t\t\ttitle: \"My location\"\n        \t    });\n              };\n              navigator.geolocation.getCurrentPosition(geoSuccess);\n              \n            }\n            else {\n                console.log('Geolocation is not supported for this Browser/OS.');\n            }*/\n\n\t\t  var loc = window.location;\n          if (loc.protocol === \"https:\") {\n            newUri = \"wss:\";\n          } else {\n            newUri = \"ws:\";\n          }\n          newUri += \"//\" + loc.host + \"/ws/locs\";\n\t\t  // check for Geolocation support\n\t\t \n\n          \n\n\t\t  \n\t\t  var sock = new WebSocket(newUri);\n\t\t  sock.onopen = function(){ \n\t\t    console.log(\"Connected websocket\");\n\t\t    console.log(\"Sending ping..\");\n\t\t\tsock.send(\"Ping!\");\n\t\t    console.log(\"Ping sent..\");\n\t\t  };\n\t\t  sock.onerror = function(){ console.log(\"Websocket error\"); };\n\t\t  sock.onmessage = function(evt){\n\t\t    var stationData = JSON.parse(evt.data);\n\t\t    console.log(stationData.atms);\n\t\t    //var stations = stationData.root.stations[0].station;\n\t\t\tfor(var i = 0; i < stationData.atms.length; i++) {\n\t\t\t \n\t\t\t  var station = stationData.atms[i];\n\t\t\n              var marker = new google.maps.Marker({\n\t\t\t    position: new google.maps.LatLng(station.location.latitude,station.location.longitude),\n\t\t\t    map: map,\n\t\t\t    animation: google.maps.Animation.DROP,\n\t\t\t    title: station.name\n\t\t\t  });\n\t\t\t  console.log(positionL);\n\t\t\t  console.log(\"currentDist : \" +distanceInKmBetweenEarthCoordinates(positionL.lat, positionL.lng, station.location.latitude,station.location.longitude));\n\t\t\t  //console.log(pos.lat +\",\"+ pos.lng +\",\"+ station.location.latitude +\",\"+ station.location.longitude);\n              var dist2 = distanceInKmBetweenEarthCoordinates(positionL.lat, positionL.lng, station.location.latitude,station.location.longitude);\n              \n              if(dist > dist2){\n                  dist = dist2;\n                  curLat= station.location.latitude;\n                  curLng = station.location.longitude;\n              }\n\t\t\t  \n\t\t\t}\n\t\t\tconsole.log(\"distance: \" +dist);\n\t\t\tconsole.log(\"coor: \" +curLat +\",\"+curLng);\n\t\t\tvar coor = {\n                  lat: curLat,\n                  lng: curLng\n                };\n\t\t\tvar  infoWindowClose = new google.maps.InfoWindow;\n            infoWindowClose.setPosition(coor);\n            infoWindowClose.setContent('Closest ATM !');\n            infoWindowClose.open(map);\n            map.setCenter(coor);\n\t\t\t\n\t\t  };\n\t\t  \n\t\t};\n\t\t\n\t\tgoogle.maps.event.addDomListener(window, 'load', initialize);\n        \n    </script>\n  </head>\n  <body>\n    <div id=\"map-canvas\"></div>\n  </body>\n</html>","x":589.8555526733398,"y":1759.830249786377,"wires":[["857e3328.9eea6"]]},{"id":"e19c9672.b679b8","type":"inject","z":"90229b47.58d298","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":215.765625,"y":440.54148507118225,"wires":[["f919a35c.16ff5"]]},{"id":"f919a35c.16ff5","type":"function","z":"90229b47.58d298","name":"prepforAPIcall getBanks","func":"\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\" 70ce2fe532664019b4ba950f48e1fd3e\"\n    };\n\n\n// msg.payload  = {\"tablename\":\"Input data\", \n// \"header\":[\"customerID\",\"gender\",\"SeniorCitizen\",\"Partner\",\"Dependents\",\"tenure\",\"PhoneService\",\"MultipleLines\",\"InternetService\",\"OnlineSecurity\",\"OnlineBackup\",\"DeviceProtection\",\"TechSupport\",\"StreamingTV\",\"StreamingMovies\",\"Contract\",\"PaperlessBilling\",\"PaymentMethod\",\"MonthlyCharges\",\"TotalCharges\",\"Churn\",\"SampleWeight\"], \n// \"data\":[[\"5919-TMRGD\",\"Female\",\"0\",\"No\",\"Yes\",\"1\",\"Yes\",\"No\",\"Fiber optic\",\"No\",\"No\",\"No\",\"No\",\"Yes\",\"No\",\"Month-to-month\",\"Yes\",\"Electronic check\",79.350,79.350,\"Yes\",1.000]]\n// };\n \n\n\nreturn msg;","outputs":1,"noerr":0,"x":574.9271469116211,"y":244.89949417114258,"wires":[["366c6b81.4ef364"]]},{"id":"ede50a30.1c9ae8","type":"debug","z":"90229b47.58d298","name":"bankid","active":true,"console":"false","complete":"payload.banks[0].id","x":997.2841682434082,"y":308.37763690948486,"wires":[]},{"id":"366c6b81.4ef364","type":"http request","z":"90229b47.58d298","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks[?subscription-key]","tls":"","x":814.0618782043457,"y":311.349835395813,"wires":[["ede50a30.1c9ae8","1db8ba80.cef0d6"]]},{"id":"b433044d.fae4c8","type":"function","z":"90229b47.58d298","name":"prepforAPIcall SPECIFIC bank id","func":"\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"70ce2fe532664019b4ba950f48e1fd3e\",\n    \"Auth-Provider-Name\":\"devuser\",\n    \"Auth-ID\":\"123456789\"\n    };\n\nmsg.bankid  = msg.payload.banks[0].id; \n// msg.payload  = {\"tablename\":\"Input data\", \n// \"header\":[\"customerID\",\"gender\",\"SeniorCitizen\",\"Partner\",\"Dependents\",\"tenure\",\"PhoneService\",\"MultipleLines\",\"InternetService\",\"OnlineSecurity\",\"OnlineBackup\",\"DeviceProtection\",\"TechSupport\",\"StreamingTV\",\"StreamingMovies\",\"Contract\",\"PaperlessBilling\",\"PaymentMethod\",\"MonthlyCharges\",\"TotalCharges\",\"Churn\",\"SampleWeight\"], \n// \"data\":[[\"5919-TMRGD\",\"Female\",\"0\",\"No\",\"Yes\",\"1\",\"Yes\",\"No\",\"Fiber optic\",\"No\",\"No\",\"No\",\"No\",\"Yes\",\"No\",\"Month-to-month\",\"Yes\",\"Electronic check\",79.350,79.350,\"Yes\",1.000]]\n// };\n \n\n\nreturn msg;","outputs":1,"noerr":0,"x":402.50627517700195,"y":847.2942323684692,"wires":[["c5b8867a.516088","1e601503.4823eb","c74fd55d.c209e8","e26f8c1d.cf488","7e7595c8.598d5c","ba2f076.f0850f8","c8c65594.a8a848"]]},{"id":"f3ef81f.699a88","type":"debug","z":"90229b47.58d298","name":"debug02","active":true,"console":"false","complete":"true","x":997.2841682434082,"y":399.48872089385986,"wires":[]},{"id":"1db8ba80.cef0d6","type":"switch","z":"90229b47.58d298","name":"if BANK ID returned","property":"payload.bank[0].id","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":538.506275177002,"y":427.9053773880005,"wires":[["f3ef81f.699a88"],["b433044d.fae4c8","976fb73f.ab76f8"]]},{"id":"ad2c1f8.07543e","type":"debug","z":"90229b47.58d298","name":"bank details","active":true,"console":"false","complete":"true","x":1023.1808433532715,"y":455.7332887649536,"wires":[]},{"id":"c5b8867a.516088","type":"http request","z":"90229b47.58d298","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/bda8eb884efcef7082792d45/customer","tls":"","x":812.895191192627,"y":666.7665224075317,"wires":[["f9868088.9967e"]]},{"id":"f9868088.9967e","type":"debug","z":"90229b47.58d298","name":"customerID","active":true,"console":"false","complete":"payload","x":1021.8952255249023,"y":677.5165500640869,"wires":[]},{"id":"976fb73f.ab76f8","type":"debug","z":"90229b47.58d298","name":"bankid","active":true,"console":"false","complete":"true","x":835.395191192627,"y":434.01652240753174,"wires":[]},{"id":"1e601503.4823eb","type":"http request","z":"90229b47.58d298","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks","tls":"","x":825.284107208252,"y":534.2386903762817,"wires":[["ad2c1f8.07543e"]]},{"id":"c74fd55d.c209e8","type":"http request","z":"90229b47.58d298","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/bda8eb884efcef7082792d45/customers/7a542b37a86d189b5dd0b947","tls":"","x":793.395191192627,"y":745.0165224075317,"wires":[["37704294.fbfa1e"]]},{"id":"37704294.fbfa1e","type":"debug","z":"90229b47.58d298","name":"customer details","active":true,"console":"false","complete":"payload","x":1015.895191192627,"y":743.5165224075317,"wires":[]},{"id":"e26f8c1d.cf488","type":"http request","z":"90229b47.58d298","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/accounts","tls":"","x":837.395191192627,"y":598.0165224075317,"wires":[["7745a1a0.d4aa8"]]},{"id":"7e7595c8.598d5c","type":"debug","z":"90229b47.58d298","name":"","active":true,"console":"false","complete":"payload","x":760.895191192627,"y":492.51652240753174,"wires":[]},{"id":"252488e8.0a8198","type":"function","z":"90229b47.58d298","name":"get Accounts","func":"msg.payload = msg.payload.accounts;\nreturn msg;","outputs":1,"noerr":0,"x":1121.895149230957,"y":557.7666263580322,"wires":[["cb5b9ac7.a5df88"]]},{"id":"7745a1a0.d4aa8","type":"json","z":"90229b47.58d298","name":"","x":973.895191192627,"y":557.7665224075317,"wires":[["252488e8.0a8198"]]},{"id":"ba2f076.f0850f8","type":"http request","z":"90229b47.58d298","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/accounts","tls":"","x":775.395191192627,"y":850.0165224075317,"wires":[["d2386784.02aba8"]]},{"id":"d2386784.02aba8","type":"json","z":"90229b47.58d298","name":"","x":887.895191192627,"y":907.7665224075317,"wires":[["483eb707.47aa68"]]},{"id":"483eb707.47aa68","type":"function","z":"90229b47.58d298","name":"prpforAPIcall SPECIFIC account and bank and view id","func":"msg.balancess = msg.payload.accounts[0].balance_amount;\nmsg.accountid = msg.payload.accounts[0].id;\nmsg.viewid = msg.payload.accounts[0].views_available[0].id;\nmsg.bankid = msg.payload.accounts[0].bank_id;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"70ce2fe532664019b4ba950f48e1fd3e\",\n    \"Auth-Provider-Name\":\"03310909626700\",\n    \"Auth-ID\":\"123456789\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":835.7759094238281,"y":999.7391510009766,"wires":[["cb253586.e2d5b8","c4dbc9f7.1e77c8","8224023b.1851a"]]},{"id":"cb253586.e2d5b8","type":"debug","z":"90229b47.58d298","name":"ONE ACCount ID","active":true,"console":"false","complete":"accountid","x":1141.895191192627,"y":839.5165224075317,"wires":[]},{"id":"8224023b.1851a","type":"http request","z":"90229b47.58d298","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/accounts/{{accountid}}/{{viewid}}/account","tls":"","x":1061.4060821533203,"y":1189.634391784668,"wires":[["e56353e9.9339c","df78f624.f57ff8","529899b5.fc9248"]]},{"id":"c4dbc9f7.1e77c8","type":"debug","z":"90229b47.58d298","name":"ONE View ID","active":true,"console":"false","complete":"viewid","x":1163.395191192627,"y":937.0165224075317,"wires":[]},{"id":"b8758e19.03487","type":"watson-text-to-speech","z":"90229b47.58d298","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1612.1431846618652,"y":1580.8485746383667,"wires":[["2013c7b7.b729d8"]]},{"id":"e56353e9.9339c","type":"switch","z":"90229b47.58d298","name":"if account amount ..","property":"payload.balance.amount","propertyType":"msg","rules":[{"t":"lte","v":"1000","vt":"num"},{"t":"gt","v":"1000","vt":"num"}],"checkall":"true","outputs":2,"x":1344.5411949157715,"y":1086.6004991531372,"wires":[["3a4f8218.a76f3e"],["32206349.dabf9c"]]},{"id":"3a4f8218.a76f3e","type":"template","z":"90229b47.58d298","name":"<= 1000","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<express-as type=\"Apology\">This is not good, I'm afraid you only have: {{payload.balance.amount}} euros left on your bank account! </express-as>","x":1572.8951416015625,"y":1038.7665824890137,"wires":[["b8758e19.03487"]]},{"id":"32206349.dabf9c","type":"template","z":"90229b47.58d298","name":"> 1000","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<express-as type=\"GoodNews\">Well Done ! you got {{payload.balance.amount}} euros left on your bank account, you are rich!</express-as>","x":1448.395191192627,"y":1151.0165224075317,"wires":[["b8758e19.03487"]]},{"id":"2013c7b7.b729d8","type":"function","z":"90229b47.58d298","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1832.3951416015625,"y":1344.0164794921875,"wires":[[]]},{"id":"51819cbf.8d0984","type":"debug","z":"90229b47.58d298","name":"","active":true,"console":"false","complete":"payload","x":1234.8168869018555,"y":1283.5164413452148,"wires":[]},{"id":"a704950a.e45ab8","type":"template","z":"90229b47.58d298","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello! I'm Allison, but you can change my voice however you wish. <voice-transformation type=\"Custom\" glottal_tension=\"-80%\"> For example, you can make my voice a bit softer, </voice-transformation> <voice-transformation type=\"Custom\" glottal_tension=\"40%\" breathiness=\"40%\"> or a bit strained. </voice-transformation><voice-transformation type=\"Custom\" timbre=\"Breeze\" timbre_extent=\"60%\"> You can alter my voice timbre making me sound like this person, </voice-transformation> <voice-transformation type=\"Custom\" timbre=\"Sunrise\"> or like another person in your different applications. </voice-transformation><voice-transformation type=\"Custom\" breathiness=\"90%\"> You can make my voice more breathy than it is normally. </voice-transformation><voice-transformation type=\"Young\" strength=\"80%\"> I can speak like a young girl. </voice-transformation><voice-transformation type=\"Custom\" pitch=\"-30%\" pitch_range=\"80%\" rate=\"60%\" glottal_tension=\"-80%\" timbre=\"Sunrise\"> And you can combine all this with modifications of my speech rate and my tone. </voice-transformation>","x":1327.895191192627,"y":1411.7665224075317,"wires":[["b8758e19.03487"]]},{"id":"a537faa0.549b48","type":"inject","z":"90229b47.58d298","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1225.8951797485352,"y":1337.2666025161743,"wires":[["a704950a.e45ab8"]]},{"id":"c8c65594.a8a848","type":"http request","z":"90229b47.58d298","name":"","method":"GET","ret":"obj","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/atms","tls":"","x":403.50634002685547,"y":980.4609861373901,"wires":[["96c8cadb.31f228","877bb9d7.c68e58","4e271cea.8f93b4"]]},{"id":"a5661f12.d428a","type":"debug","z":"90229b47.58d298","name":"lat lon","active":true,"console":"false","complete":"payload","x":839.895191192627,"y":1270.5165224075317,"wires":[]},{"id":"4e271cea.8f93b4","type":"function","z":"90229b47.58d298","name":"get map on one atm","func":"msg.lat = msg.payload.atms[0].location.latitude;\nmsg.lon = msg.payload.atms[0].location.longitude;\nmsg.payload = {\"lat\": msg.lat, \"lon\": msg.lon};\nreturn msg;","outputs":1,"noerr":0,"x":584.6379852294922,"y":1263.6030025482178,"wires":[["a5661f12.d428a","3f73045d.08fd0c","6d7ca518.37844c"]]},{"id":"40ee4cd7.29cb24","type":"debug","z":"90229b47.58d298","name":"","active":true,"console":"false","complete":"payload","x":766.395191192627,"y":1433.0165224075317,"wires":[]},{"id":"3f73045d.08fd0c","type":"template","z":"90229b47.58d298","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n       #map {\n        height: 400px;\n        width: 100%;\n       }\n    </style>\n  </head>\n  <body>\n    <h3>My Google Maps Demo</h3>\n    <div id=\"map\"></div>\n    <script>\n\n    var lat = 34;\n\n    var lng = 45;\n      function initMap() {\n        var uluru = {lat:lat, lng: lng};\n        var map = new google.maps.Map(document.getElementById('map'), {\n          zoom: 4,\n          center: uluru\n        });\n        var marker = new google.maps.Marker({\n          position: uluru,\n          map: map\n        });\n      }\n    </script>\n    <script async defer\n    src=\"https://maps.googleapis.com/maps/api/js?key= AIzaSyDEu36gOfXSmEKkIAw3iDfFR5vnleZQ_f4 &callback=initMap\">\n    </script>\n  </body>\n</html>","x":578.395191192627,"y":1442.0165224075317,"wires":[["40ee4cd7.29cb24"]]},{"id":"6d7ca518.37844c","type":"websocket out","z":"90229b47.58d298","name":"","server":"a5e060c3.a9f78","client":"","x":850.395191192627,"y":1163.0165224075317,"wires":[]},{"id":"c4f28b4.c5c6b78","type":"http in","z":"90229b47.58d298","name":"","url":"/map","method":"get","swaggerDoc":"","x":527.3952026367188,"y":1630.0164794921875,"wires":[["32fa5948.65a9d6"]]},{"id":"2b0ba313.9305dc","type":"http response","z":"90229b47.58d298","name":"","x":913.395191192627,"y":1630.0165224075317,"wires":[]},{"id":"32fa5948.65a9d6","type":"template","z":"90229b47.58d298","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <title>Bart Stations</title>\n    <style>\n      html, body, #map-canvas {\n        height: 100%;\n        margin: 0px;\n        padding: 0px\n      }\n    </style>\n    <script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp\"></script>\n    <script>\n\t\tfunction initialize() {\n\t\t  var myLatlng = new google.maps.LatLng(37.765062,-122.419694);\n\t\t  var mapOptions = {\n\t\t    zoom: 10,\n\t\t    center: myLatlng\n\t\t  };\n\t\t  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n\t\t  \n\t\t  var loc = window.location;\n          if (loc.protocol === \"https:\") {\n            newUri = \"wss:\";\n          } else {\n            newUri = \"ws:\";\n          }\n          newUri += \"//\" + loc.host + \"/ws/stations\";\n\t\t  \n\t\t  \n\t\t  var sock = new WebSocket(newUri);\n\t\t  sock.onopen = function(){ \n\t\t    console.log(\"Connected websocket\");\n\t\t    console.log(\"Sending ping..\");\n\t\t\tsock.send(\"Ping!\");\n\t\t    console.log(\"Ping sent..\");\n\t\t  };\n\t\t  sock.onerror = function(){ console.log(\"Websocket error\"); };\n\t\t  sock.onmessage = function(evt){\n\t\t    var stationData = JSON.parse(evt.data);\n\t\t    //var stations = stationData.root.stations[0].station;\n\t\t\tfor(var i = 0; i < stations.length; i++) {\n\t\t\t  var station = stationData[i];\n\t\t\t  console.log(stationData[i].name);\n              var marker = new google.maps.Marker({\n\t\t\t    position: new google.maps.LatLng(station.location.latitude,station.location.longitude),\n\t\t\t    map: map,\n\t\t\t    animation: google.maps.Animation.DROP,\n\t\t\t    title: station.name\n\t\t\t  });\n\t\t\t  \n\t\t\t}\n\t\t  };\n\t\t};\n\t\t\n\t\tgoogle.maps.event.addDomListener(window, 'load', initialize);\n\n    </script>\n  </head>\n  <body>\n    <div id=\"map-canvas\"></div>\n  </body>\n</html>","x":749.9508056640625,"y":1630.349853515625,"wires":[["2b0ba313.9305dc"]]},{"id":"96c8cadb.31f228","type":"xml","z":"90229b47.58d298","name":"","x":630.395191192627,"y":1079.0165224075317,"wires":[["2455c346.81a1cc"]]},{"id":"2455c346.81a1cc","type":"websocket out","z":"90229b47.58d298","name":"","server":"261a5627.9d158a","client":"","x":815.395191192627,"y":1079.0165224075317,"wires":[]},{"id":"870875ea.62bbb8","type":"websocket in","z":"90229b47.58d298","name":"","server":"261a5627.9d158a","x":125.39519119262695,"y":987.0165224075317,"wires":[["b433044d.fae4c8"]]},{"id":"877bb9d7.c68e58","type":"debug","z":"90229b47.58d298","name":"atms","active":true,"console":"false","complete":"payload","x":507.89519119262695,"y":1147.5165224075317,"wires":[]},{"id":"b7e3bc74.ce816","type":"http response","z":"90229b47.58d298","name":"","x":1396.581829071045,"y":1252.9943056106567,"wires":[]},{"id":"8bec9836.211e38","type":"http in","z":"90229b47.58d298","name":"","url":"/balance","method":"get","swaggerDoc":"","x":280.0433235168457,"y":110.99999904632568,"wires":[["f919a35c.16ff5"]]},{"id":"df78f624.f57ff8","type":"template","z":"90229b47.58d298","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"My amount is: {{{payload.balance.amount}}} eur !\n","x":1226.895191192627,"y":1195.7665224075317,"wires":[["b7e3bc74.ce816","51819cbf.8d0984"]]},{"id":"79330241.e497ec","type":"http in","z":"90229b47.58d298","name":"","url":"/mybalance","method":"get","swaggerDoc":"","x":498.3750305175781,"y":1706.63671875,"wires":[["b47e7b03.67fa68"]]},{"id":"8a20a5e1.0cc4b8","type":"template","z":"90229b47.58d298","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<style>{{{payload.style}}}</style>    \n<p class=\"balance\">My balance</p>\n<p class=\"amount\">607.34</p> \n<p class=\"curr\">EUR</p>\n\n</html>","x":786.8263511657715,"y":1769.5365891456604,"wires":[["b1f262c3.1862e"]]},{"id":"b1f262c3.1862e","type":"http response","z":"90229b47.58d298","name":"","x":918.1328125,"y":1706.49609375,"wires":[]},{"id":"529899b5.fc9248","type":"debug","z":"90229b47.58d298","name":"ACCOUNT INFO","active":true,"console":"false","complete":"payload","x":1351.87890625,"y":990.78515625,"wires":[]},{"id":"cb5b9ac7.a5df88","type":"debug","z":"90229b47.58d298","name":"","active":true,"console":"false","complete":"payload","x":1426,"y":525,"wires":[]},{"id":"b47e7b03.67fa68","type":"template","z":"90229b47.58d298","name":"","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n    background-color: #999999;\n    background-position: center;\n}\n\n.balance {\n    font-size: 75;\n    margin-left: 15cm;\n    margin-top: 2cm;\n    margin-bottom: 1cm;\n}\n\n.amount {\n    font-size: 125;\n    margin-left: 14cm;\n    /*margin-top: 1m;*/\n    \n}\n\n.curr{\n    font-size: 75;\n    margin-left: 17cm;\n    /*margin-top: 1cm;*/\n}\n","x":653.0636367797852,"y":1737.677942276001,"wires":[["8a20a5e1.0cc4b8"]]},{"id":"657600de.c7ede","type":"http response","z":"90229b47.58d298","name":"","x":1582.8571395874023,"y":387.14286279678345,"wires":[]},{"id":"38f357b0.2dd358","type":"function","z":"90229b47.58d298","name":"","func":"\nmsg.bank_1_id = msg.payload.accounts.bank_id;\nmsg.account_1_id = msg.payload.accounts.id;\nmsg.bank_2_id = msg.payload.accounts.bank_id;\nmsg.account_2_id = msg.payload.accounts.id;\nbanks[0].id\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"26150fd04c3c482bb95af58fc47bf462\",\n    \"Auth-Provider-Name\":\"03310909626700\",\n    \"Auth-ID\":\"123456789\"\n    };\nmsg.body = {\n  \"description\": \"transfer\",\n  \"challenge_type\": \"general\",\n  \"from\": {\n    \"account_id\": msg.account_1_id,\n    \"bank_id\": msg.bank_1_id\n  },\n  \"to\": {\n    \"account_id\": msg.account_2_id,\n    \"bank_id\": msg.bank_2_id\n  },\n  \"value\": {\n    \"currency\": msg.payload.currency,\n    \"amount\": msg.payload.ammount\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1425.8731079101562,"y":340.6351103782654,"wires":[["657600de.c7ede"]]},{"id":"b6d91213.6953c","type":"http in","z":"90229b47.58d298","name":"","url":"/mytransfer","method":"get","swaggerDoc":"","x":1247.3016815185547,"y":379.3652129173279,"wires":[["38f357b0.2dd358"]]},{"id":"a0f077cb.f11fc8","type":"inject","z":"fee8eebd.19834","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":165.37043380737305,"y":862.5,"wires":[["e093b5b7.fef6b8"]]},{"id":"e093b5b7.fef6b8","type":"function","z":"fee8eebd.19834","name":"prepforAPIcall getBanks","func":"\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\" 70ce2fe532664019b4ba950f48e1fd3e\"\n    };\n\n\n// msg.payload  = {\"tablename\":\"Input data\", \n// \"header\":[\"customerID\",\"gender\",\"SeniorCitizen\",\"Partner\",\"Dependents\",\"tenure\",\"PhoneService\",\"MultipleLines\",\"InternetService\",\"OnlineSecurity\",\"OnlineBackup\",\"DeviceProtection\",\"TechSupport\",\"StreamingTV\",\"StreamingMovies\",\"Contract\",\"PaperlessBilling\",\"PaymentMethod\",\"MonthlyCharges\",\"TotalCharges\",\"Churn\",\"SampleWeight\"], \n// \"data\":[[\"5919-TMRGD\",\"Female\",\"0\",\"No\",\"Yes\",\"1\",\"Yes\",\"No\",\"Fiber optic\",\"No\",\"No\",\"No\",\"No\",\"Yes\",\"No\",\"Month-to-month\",\"Yes\",\"Electronic check\",79.350,79.350,\"Yes\",1.000]]\n// };\n \n\n\nreturn msg;","outputs":1,"noerr":0,"x":524.5319557189941,"y":666.8580090999603,"wires":[["ce759fa9.6142f"]]},{"id":"7ea58f7f.e88cc","type":"debug","z":"fee8eebd.19834","name":"bankid","active":true,"console":"false","complete":"payload.banks[0].id","x":946.8889770507812,"y":730.3361518383026,"wires":[]},{"id":"ce759fa9.6142f","type":"http request","z":"fee8eebd.19834","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks[?subscription-key]","tls":"","x":763.6666870117188,"y":733.3083503246307,"wires":[["7ea58f7f.e88cc","ce573415.92c7d8"]]},{"id":"636ad617.44efd8","type":"function","z":"fee8eebd.19834","name":"prepforAPIcall SPECIFIC bank id","func":"\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"70ce2fe532664019b4ba950f48e1fd3e\",\n    \"Auth-Provider-Name\":\"devuser\",\n    \"Auth-ID\":\"123456789\"\n    };\n\nmsg.bankid  = msg.payload.banks[0].id; \n// msg.payload  = {\"tablename\":\"Input data\", \n// \"header\":[\"customerID\",\"gender\",\"SeniorCitizen\",\"Partner\",\"Dependents\",\"tenure\",\"PhoneService\",\"MultipleLines\",\"InternetService\",\"OnlineSecurity\",\"OnlineBackup\",\"DeviceProtection\",\"TechSupport\",\"StreamingTV\",\"StreamingMovies\",\"Contract\",\"PaperlessBilling\",\"PaymentMethod\",\"MonthlyCharges\",\"TotalCharges\",\"Churn\",\"SampleWeight\"], \n// \"data\":[[\"5919-TMRGD\",\"Female\",\"0\",\"No\",\"Yes\",\"1\",\"Yes\",\"No\",\"Fiber optic\",\"No\",\"No\",\"No\",\"No\",\"Yes\",\"No\",\"Month-to-month\",\"Yes\",\"Electronic check\",79.350,79.350,\"Yes\",1.000]]\n// };\n \n\n\nreturn msg;","outputs":1,"noerr":0,"x":352.111083984375,"y":1269.252747297287,"wires":[["2ca523b7.2871dc","d3554fe9.c56f2","20ab2e8a.f2aab2","88ec6f10.a3bff","5f93fa11.523874","358976c.555fd8a","4129425b.bf0dbc"]]},{"id":"44298fa0.e0bf2","type":"debug","z":"fee8eebd.19834","name":"debug02","active":true,"console":"false","complete":"true","x":946.8889770507812,"y":821.4472358226776,"wires":[]},{"id":"ce573415.92c7d8","type":"switch","z":"fee8eebd.19834","name":"if BANK ID returned","property":"payload.bank[0].id","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":488.111083984375,"y":849.8638923168182,"wires":[["44298fa0.e0bf2"],["636ad617.44efd8","8898ae28.bbbce"]]},{"id":"e3d699bc.b1f0d8","type":"debug","z":"fee8eebd.19834","name":"bank details","active":true,"console":"false","complete":"true","x":972.7856521606445,"y":877.6918036937714,"wires":[]},{"id":"2ca523b7.2871dc","type":"http request","z":"fee8eebd.19834","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/bda8eb884efcef7082792d45/customer","tls":"","x":762.5,"y":1088.7250373363495,"wires":[["c8936302.a3883"]]},{"id":"c8936302.a3883","type":"debug","z":"fee8eebd.19834","name":"customerID","active":true,"console":"false","complete":"payload","x":971.5000343322754,"y":1099.4750649929047,"wires":[]},{"id":"8898ae28.bbbce","type":"debug","z":"fee8eebd.19834","name":"bankid","active":true,"console":"false","complete":"true","x":785,"y":855.9750373363495,"wires":[]},{"id":"d3554fe9.c56f2","type":"http request","z":"fee8eebd.19834","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks","tls":"","x":774.888916015625,"y":956.1972053050995,"wires":[["e3d699bc.b1f0d8"]]},{"id":"20ab2e8a.f2aab2","type":"http request","z":"fee8eebd.19834","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/bda8eb884efcef7082792d45/customers/7a542b37a86d189b5dd0b947","tls":"","x":743,"y":1166.9750373363495,"wires":[["2cdfa7b3.a9cd38"]]},{"id":"2cdfa7b3.a9cd38","type":"debug","z":"fee8eebd.19834","name":"customer details","active":true,"console":"false","complete":"payload","x":965.5,"y":1165.4750373363495,"wires":[]},{"id":"88ec6f10.a3bff","type":"http request","z":"fee8eebd.19834","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/accounts","tls":"","x":787,"y":1019.9750373363495,"wires":[["32e8e252.9ef1be"]]},{"id":"5f93fa11.523874","type":"debug","z":"fee8eebd.19834","name":"","active":true,"console":"false","complete":"payload","x":710.5,"y":914.4750373363495,"wires":[]},{"id":"6cd4ff46.59c63","type":"function","z":"fee8eebd.19834","name":"get Accounts","func":"msg.payload = msg.payload.accounts;\nreturn msg;","outputs":1,"noerr":0,"x":1071.49995803833,"y":979.72514128685,"wires":[["37ae7608.21bd2a"]]},{"id":"32e8e252.9ef1be","type":"json","z":"fee8eebd.19834","name":"","x":923.5,"y":979.7250373363495,"wires":[["6cd4ff46.59c63"]]},{"id":"358976c.555fd8a","type":"http request","z":"fee8eebd.19834","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/accounts","tls":"","x":725,"y":1271.9750373363495,"wires":[["1713c18c.a7e6ee"]]},{"id":"1713c18c.a7e6ee","type":"json","z":"fee8eebd.19834","name":"","x":837.5,"y":1329.7250373363495,"wires":[["3bd5aa53.8c71c6"]]},{"id":"3bd5aa53.8c71c6","type":"function","z":"fee8eebd.19834","name":"prpforAPIcall SPECIFIC account and bank and view id","func":"msg.balancess = msg.payload.accounts[0].balance_amount;\nmsg.accountid = msg.payload.accounts[0].id;\nmsg.viewid = msg.payload.accounts[0].views_available[0].id;\nmsg.bankid = msg.payload.accounts[0].bank_id;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"70ce2fe532664019b4ba950f48e1fd3e\",\n    \"Auth-Provider-Name\":\"03310909626700\",\n    \"Auth-ID\":\"123456789\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":785.3807182312012,"y":1421.6976659297943,"wires":[["61c2587d.ff5838","201a66fa.60033a","3adffcb.f3a6604"]]},{"id":"61c2587d.ff5838","type":"debug","z":"fee8eebd.19834","name":"ONE ACCount ID","active":true,"console":"false","complete":"accountid","x":1091.5,"y":1261.4750373363495,"wires":[]},{"id":"3adffcb.f3a6604","type":"http request","z":"fee8eebd.19834","name":"","method":"GET","ret":"txt","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/accounts/{{accountid}}/{{viewid}}/account","tls":"","x":1011.0108909606934,"y":1611.5929067134857,"wires":[["53363c1c.0fff24","302b942d.5dfb3c","3b5bdf00.a047f2"]]},{"id":"201a66fa.60033a","type":"debug","z":"fee8eebd.19834","name":"ONE View ID","active":true,"console":"false","complete":"viewid","x":1113,"y":1358.9750373363495,"wires":[]},{"id":"7cf14abb.b5ec34","type":"watson-text-to-speech","z":"fee8eebd.19834","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1561.7479934692383,"y":2002.8070895671844,"wires":[["ef87b6e3.0bc478"]]},{"id":"53363c1c.0fff24","type":"switch","z":"fee8eebd.19834","name":"if account amount ..","property":"payload.balance.amount","propertyType":"msg","rules":[{"t":"lte","v":"1000","vt":"num"},{"t":"gt","v":"1000","vt":"num"}],"checkall":"true","outputs":2,"x":1294.1460037231445,"y":1508.559014081955,"wires":[["d70aec06.868a4"],["51d313a3.13505c"]]},{"id":"d70aec06.868a4","type":"template","z":"fee8eebd.19834","name":"<= 1000","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<express-as type=\"Apology\">This is not good, I'm afraid you only have: {{payload.balance.amount}} euros left on your bank account! </express-as>","x":1522.4999504089355,"y":1460.7250974178314,"wires":[["7cf14abb.b5ec34"]]},{"id":"51d313a3.13505c","type":"template","z":"fee8eebd.19834","name":"> 1000","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<express-as type=\"GoodNews\">Well Done ! you got {{payload.balance.amount}} euros left on your bank account, you are rich!</express-as>","x":1398,"y":1572.9750373363495,"wires":[["7cf14abb.b5ec34"]]},{"id":"ef87b6e3.0bc478","type":"function","z":"fee8eebd.19834","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1781.9999504089355,"y":1765.9749944210052,"wires":[[]]},{"id":"36183491.ab645c","type":"debug","z":"fee8eebd.19834","name":"","active":true,"console":"false","complete":"payload","x":1184.4216957092285,"y":1705.4749562740326,"wires":[]},{"id":"e6c7aac1.654e98","type":"template","z":"fee8eebd.19834","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello! I'm Allison, but you can change my voice however you wish. <voice-transformation type=\"Custom\" glottal_tension=\"-80%\"> For example, you can make my voice a bit softer, </voice-transformation> <voice-transformation type=\"Custom\" glottal_tension=\"40%\" breathiness=\"40%\"> or a bit strained. </voice-transformation><voice-transformation type=\"Custom\" timbre=\"Breeze\" timbre_extent=\"60%\"> You can alter my voice timbre making me sound like this person, </voice-transformation> <voice-transformation type=\"Custom\" timbre=\"Sunrise\"> or like another person in your different applications. </voice-transformation><voice-transformation type=\"Custom\" breathiness=\"90%\"> You can make my voice more breathy than it is normally. </voice-transformation><voice-transformation type=\"Young\" strength=\"80%\"> I can speak like a young girl. </voice-transformation><voice-transformation type=\"Custom\" pitch=\"-30%\" pitch_range=\"80%\" rate=\"60%\" glottal_tension=\"-80%\" timbre=\"Sunrise\"> And you can combine all this with modifications of my speech rate and my tone. </voice-transformation>","x":1277.5,"y":1833.7250373363495,"wires":[["7cf14abb.b5ec34"]]},{"id":"faed7292.810cd","type":"inject","z":"fee8eebd.19834","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1175.4999885559082,"y":1759.225117444992,"wires":[["e6c7aac1.654e98"]]},{"id":"4129425b.bf0dbc","type":"http request","z":"fee8eebd.19834","name":"","method":"GET","ret":"obj","url":"http://api.bocapi.net/v1/api/banks/{{bankid}}/atms","tls":"","x":353.1111488342285,"y":1402.4195010662079,"wires":[["c491604b.17d9e","e91493cf.6c129","e48e1da3.5e28f"]]},{"id":"d31486f2.cb8548","type":"debug","z":"fee8eebd.19834","name":"lat lon","active":true,"console":"false","complete":"payload","x":789.5,"y":1692.4750373363495,"wires":[]},{"id":"e48e1da3.5e28f","type":"function","z":"fee8eebd.19834","name":"get map on one atm","func":"msg.lat = msg.payload.atms[0].location.latitude;\nmsg.lon = msg.payload.atms[0].location.longitude;\nmsg.payload = {\"lat\": msg.lat, \"lon\": msg.lon};\nreturn msg;","outputs":1,"noerr":0,"x":534.2427940368652,"y":1685.5615174770355,"wires":[["d31486f2.cb8548","9a084667.146758","a402d6ce.6b1268"]]},{"id":"4f562783.f5e278","type":"debug","z":"fee8eebd.19834","name":"","active":true,"console":"false","complete":"payload","x":716,"y":1854.9750373363495,"wires":[]},{"id":"9a084667.146758","type":"template","z":"fee8eebd.19834","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n       #map {\n        height: 400px;\n        width: 100%;\n       }\n    </style>\n  </head>\n  <body>\n    <h3>My Google Maps Demo</h3>\n    <div id=\"map\"></div>\n    <script>\n\n    var lat = 34;\n\n    var lng = 45;\n      function initMap() {\n        var uluru = {lat:lat, lng: lng};\n        var map = new google.maps.Map(document.getElementById('map'), {\n          zoom: 4,\n          center: uluru\n        });\n        var marker = new google.maps.Marker({\n          position: uluru,\n          map: map\n        });\n      }\n    </script>\n    <script async defer\n    src=\"https://maps.googleapis.com/maps/api/js?key= AIzaSyDEu36gOfXSmEKkIAw3iDfFR5vnleZQ_f4 &callback=initMap\">\n    </script>\n  </body>\n</html>","x":528,"y":1863.9750373363495,"wires":[["4f562783.f5e278"]]},{"id":"a402d6ce.6b1268","type":"websocket out","z":"fee8eebd.19834","name":"","server":"a5e060c3.a9f78","client":"","x":800,"y":1584.9750373363495,"wires":[]},{"id":"fcc86d6b.94508","type":"http in","z":"fee8eebd.19834","name":"","url":"/map","method":"get","swaggerDoc":"","x":477.0000114440918,"y":2051.9749944210052,"wires":[["6ef9b1c2.5f63c"]]},{"id":"cb03c90e.cdbbc8","type":"http response","z":"fee8eebd.19834","name":"","x":863,"y":2051.9750373363495,"wires":[]},{"id":"6ef9b1c2.5f63c","type":"template","z":"fee8eebd.19834","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <title>Bart Stations</title>\n    <style>\n      html, body, #map-canvas {\n        height: 100%;\n        margin: 0px;\n        padding: 0px\n      }\n    </style>\n    <script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp\"></script>\n    <script>\n\t\tfunction initialize() {\n\t\t  var myLatlng = new google.maps.LatLng(37.765062,-122.419694);\n\t\t  var mapOptions = {\n\t\t    zoom: 10,\n\t\t    center: myLatlng\n\t\t  };\n\t\t  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n\t\t  \n\t\t  var loc = window.location;\n          if (loc.protocol === \"https:\") {\n            newUri = \"wss:\";\n          } else {\n            newUri = \"ws:\";\n          }\n          newUri += \"//\" + loc.host + \"/ws/stations\";\n\t\t  \n\t\t  \n\t\t  var sock = new WebSocket(newUri);\n\t\t  sock.onopen = function(){ \n\t\t    console.log(\"Connected websocket\");\n\t\t    console.log(\"Sending ping..\");\n\t\t\tsock.send(\"Ping!\");\n\t\t    console.log(\"Ping sent..\");\n\t\t  };\n\t\t  sock.onerror = function(){ console.log(\"Websocket error\"); };\n\t\t  sock.onmessage = function(evt){\n\t\t    var stationData = JSON.parse(evt.data);\n\t\t    //var stations = stationData.root.stations[0].station;\n\t\t\tfor(var i = 0; i < stations.length; i++) {\n\t\t\t  var station = stationData[i];\n\t\t\t  console.log(stationData[i].name);\n              var marker = new google.maps.Marker({\n\t\t\t    position: new google.maps.LatLng(station.location.latitude,station.location.longitude),\n\t\t\t    map: map,\n\t\t\t    animation: google.maps.Animation.DROP,\n\t\t\t    title: station.name\n\t\t\t  });\n\t\t\t  \n\t\t\t}\n\t\t  };\n\t\t};\n\t\t\n\t\tgoogle.maps.event.addDomListener(window, 'load', initialize);\n\n    </script>\n  </head>\n  <body>\n    <div id=\"map-canvas\"></div>\n  </body>\n</html>","x":699.5556144714355,"y":2052.3083684444427,"wires":[["cb03c90e.cdbbc8"]]},{"id":"c491604b.17d9e","type":"xml","z":"fee8eebd.19834","name":"","x":580,"y":1500.9750373363495,"wires":[["1d0ec973.2e38f7"]]},{"id":"1d0ec973.2e38f7","type":"websocket out","z":"fee8eebd.19834","name":"","server":"261a5627.9d158a","client":"","x":765,"y":1500.9750373363495,"wires":[]},{"id":"f931c034.804e1","type":"websocket in","z":"fee8eebd.19834","name":"","server":"261a5627.9d158a","x":75,"y":1408.9750373363495,"wires":[["636ad617.44efd8"]]},{"id":"e91493cf.6c129","type":"debug","z":"fee8eebd.19834","name":"atms","active":true,"console":"false","complete":"payload","x":457.5,"y":1569.4750373363495,"wires":[]},{"id":"59bc9359.f7132c","type":"http response","z":"fee8eebd.19834","name":"","x":1346.186637878418,"y":1674.9528205394745,"wires":[]},{"id":"95b9189b.7e42f8","type":"http in","z":"fee8eebd.19834","name":"","url":"/balance","method":"get","swaggerDoc":"","x":229.64813232421875,"y":532.9585139751434,"wires":[["e093b5b7.fef6b8"]]},{"id":"302b942d.5dfb3c","type":"template","z":"fee8eebd.19834","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"My amount is: {{{payload.balance.amount}}} eur !\n","x":1176.5,"y":1617.7250373363495,"wires":[["59bc9359.f7132c","36183491.ab645c"]]},{"id":"904ec81a.c1d478","type":"http in","z":"fee8eebd.19834","name":"","url":"/mybalance","method":"get","swaggerDoc":"","x":447.9798393249512,"y":2128.5952336788177,"wires":[["3b10aa73.a60736"]]},{"id":"4e4de9e9.aadf58","type":"template","z":"fee8eebd.19834","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<style>{{{payload.style}}}</style>    \n<p class=\"balance\">My balance</p>\n<p>607.34</p> \n<p>EUR</p>\n\n</html>","x":736.4311599731445,"y":2191.495104074478,"wires":[["b88337a.2db5fc8"]]},{"id":"b88337a.2db5fc8","type":"http response","z":"fee8eebd.19834","name":"","x":867.737621307373,"y":2128.4546086788177,"wires":[]},{"id":"3b5bdf00.a047f2","type":"debug","z":"fee8eebd.19834","name":"ACCOUNT INFO","active":true,"console":"false","complete":"payload","x":1301.483715057373,"y":1412.7436711788177,"wires":[]},{"id":"37ae7608.21bd2a","type":"debug","z":"fee8eebd.19834","name":"","active":true,"console":"false","complete":"payload","x":1375.604808807373,"y":946.9585149288177,"wires":[]},{"id":"3b10aa73.a60736","type":"template","z":"fee8eebd.19834","name":"","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n    background-color: #999999;\n    background-position: center;\n}\n\n.balance {\n    font-size: 75;\n    margin-left: 15cm;\n    margin-top: 2cm;\n    \n}\n\n.balance {\n    font-size: 125;\n    margin-left: 12cm;\n    margin-top: 8cm;\n    \n}","x":602.6684455871582,"y":2159.6364572048187,"wires":[["4e4de9e9.aadf58"]]},{"id":"27f2f853.5bc008","type":"http response","z":"fee8eebd.19834","name":"","x":1532.4619483947754,"y":809.1013777256012,"wires":[]},{"id":"6c28e4f8.7da9cc","type":"function","z":"fee8eebd.19834","name":"","func":"\nmsg.bank_1_id = msg.payload.accounts.bank_id;\nmsg.account_1_id = msg.payload.accounts.id;\nmsg.bank_2_id = msg.payload.accounts.bank_id;\nmsg.account_2_id = msg.payload.accounts.id;\nbanks[0].id\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"26150fd04c3c482bb95af58fc47bf462\",\n    \"Auth-Provider-Name\":\"03310909626700\",\n    \"Auth-ID\":\"123456789\"\n    };\nmsg.body = {\n  \"description\": \"transfer\",\n  \"challenge_type\": \"general\",\n  \"from\": {\n    \"account_id\": msg.account_1_id,\n    \"bank_id\": msg.bank_1_id\n  },\n  \"to\": {\n    \"account_id\": msg.account_2_id,\n    \"bank_id\": msg.bank_2_id\n  },\n  \"value\": {\n    \"currency\": msg.payload.currency,\n    \"amount\": msg.payload.ammount\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1375.4779167175293,"y":762.5936253070831,"wires":[["27f2f853.5bc008"]]},{"id":"6318279.7b1b4d8","type":"http in","z":"fee8eebd.19834","name":"","url":"/mytransfer","method":"get","swaggerDoc":"","x":1196.9064903259277,"y":801.3237278461456,"wires":[["6c28e4f8.7da9cc"]]},{"id":"e008688d.8670e8","type":"change","z":"6191480b.fcc298","name":"Extract image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":211,"wires":[["d1a0fd90.bfc67"]]},{"id":"c5e05adf.e6a8c8","type":"switch","z":"6191480b.fcc298","name":"Check image url","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":265,"y":51,"wires":[["c7ebfb7b.465578"],["e008688d.8670e8"]]},{"id":"28553b3.21ea1c4","type":"http in","z":"6191480b.fcc298","name":"","url":"/people","method":"get","swaggerDoc":"","x":75,"y":51,"wires":[["c5e05adf.e6a8c8"]]},{"id":"74c6cd8e.0cb294","type":"template","z":"6191480b.fcc298","name":"Report faces via HTML template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Bank Of Cyprus Visual Recognition - Results </h1>\n    <p>Analyzed image: {{result.images.0.resolved_url}}<br/><img id=\"image\" src=\"{{result.images.0.resolved_url}}\" height=\"200\"/></p>\n    {{^result}}\n        <P>No Face detected</P>\n    {{/result}}\n    <p>Images Processed: {{result.images_processed}}</p>\n        {{#result.images.0.faces}}\n            <tr>\n            <p>Age Range:  {{age.min}} - {{age.max}}</p>\n            <p>Gender:  {{gender.gender}}</p>\n            <p>Name:  {{identity.name}}</p>\n            <p id=\"product\"></p>\n            <p1 id=\"so\"></p1>\n            <p2 id=\"so2\"></p2>\n        <script>\n            var card_type,loan_type,a=({{age.max}}+{{age.min}})/2;\nvar img1 = document.createElement(\"img1\");\nvar img2 = document.createElement(\"img2\");\n\n\n                    if(a<18){img1.src = \"https://s-media-cache-ak0.pinimg.com/736x/d6/27/ed/d627ede5fbbb4864d85b9897b759782d.jpg\";loan_type=\"general_investing\";card_type=\"prepaid\";}\n                    else if(a<25){img1.src = \"http://www.lifeflicker.com/wp-content/uploads/2016/09/Paying-Off-Student-Loans-360x240.jpg\";loan_type=\"student\"; card_type=\"student\";}\n                    else if(a<35){img1.src = \"https://i.ytimg.com/vi/zsqx_4ck7YY/maxresdefault.jpg\";img2.src = \"http://mxradvogados.com.br/wp-content/uploads/2016/07/vendaimovel.jpeg\";loan_type=\"car/home\";card_type=\"visa/amex/master_card\";}\n                    else{img1.src = \"https://i.ytimg.com/vi/zsqx_4ck7YY/maxresdefault.jpg\";img2.src = \"http://mxradvogados.com.br/wp-content/uploads/2016/07/vendaimovel.jpeg\";loan_type=\"deposit\";card_type=\"visa/amex/master_card\";}\n                \n        document.getElementById(\"product\").innerHTML=\"Products offer:  We suggest a \"+loan_type+\" loan and a \"+card_type+\" card!\";\n        var src = document.getElementById(\"so\");\n        var src = document.getElementById(\"so2\");\n\nsrc.appendChild(img1);\nsrc.appendChild(img2);\n\n               </script>\n            </p>\n        </tr>{{/result.images.0.faces}}\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n    </form>","x":575,"y":144,"wires":[["7d2dabed.fc1484"]]},{"id":"7d2dabed.fc1484","type":"http response","z":"6191480b.fcc298","name":"","x":875,"y":51,"wires":[]},{"id":"d1a0fd90.bfc67","type":"visual-recognition-v3","z":"6191480b.fcc298","name":"","apikey":"","image-feature":"detectFaces","x":245,"y":351,"wires":[["aacd9e8d.5943a","314ff089.89c16","53bdefe7.cdfc5","74c6cd8e.0cb294"]]},{"id":"aacd9e8d.5943a","type":"debug","z":"6191480b.fcc298","name":"Print msg.result.images","active":true,"console":"false","complete":"result.images","x":555,"y":451,"wires":[]},{"id":"314ff089.89c16","type":"template","z":"6191480b.fcc298","name":"Print result via a template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"// Template functions can access the json array via this .0. notation.\n// See the Watson Visual Recognition v3 API Documentation at\n// https://watson-api-explorer.mybluemix.net/apis/visual-recognition-v3#!/visual-recognition/get_v3_detect_faces\n\nFirst face in result is a {{result.images.0.faces.0.gender.gender}} !","x":555,"y":251,"wires":[["79b217f3.7031b8"]]},{"id":"79b217f3.7031b8","type":"debug","z":"6191480b.fcc298","name":"","active":true,"console":"false","complete":"payload","x":895,"y":251,"wires":[]},{"id":"53bdefe7.cdfc5","type":"function","z":"6191480b.fcc298","name":"Is this a Celebrity","func":"// A function to determine if this image contains a celebrity.\n// Functions can access the msg.result via array indexes\n// Watson Visual Recognition v3 API Documentation is post here:\n// https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/visual-recognition/api/v3/?node#detect_faces\nvar i=0;\nvar Celebrity=0;\nvar CelebrityName=\"No one famous detected\";\n\n// There might be multiple faces in this image.\n// Loop through the faces and determine if Watson has\n// detected the identity of at least one celebrity.\nwhile ( msg.result.images[0].faces[i] ) {\n    if (msg.result.images[0].faces[i].identity != null) {\n        Celebrity=1;\n        CelebrityName=msg.result.images[0].faces[i].identity.name;\n    }\n    i++;\n}\n\nmsg.payload = CelebrityName;\n// if a Celebrity was found, send the Name to output 1\n// else send the default \"No one famous detected\" to output 2\nif (Celebrity == 1) {\n        return [ msg, null ];\n} else {\n    return [ null, msg ];\n}\n","outputs":"2","noerr":0,"x":535,"y":351,"wires":[["5c1ab19c.4a72a"],["7dbf8d57.ef80a4"]]},{"id":"7dbf8d57.ef80a4","type":"debug","z":"6191480b.fcc298","name":"","active":true,"console":"false","complete":"payload","x":895,"y":371,"wires":[]},{"id":"5c1ab19c.4a72a","type":"template","z":"6191480b.fcc298","name":"Paparazzi","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This image contains a celebrity: {{payload}} !","x":735,"y":311,"wires":[["7dbf8d57.ef80a4"]]},{"id":"e2558ff2.f9c28","type":"comment","z":"6191480b.fcc298","name":"Step #1 - Create a Visual Recognition Service","info":"1. Log into your Bluemix account\n2. Navigate to the Bluemix Catalog\n3. Scroll to the Watson Services section\n4. Find and click on the Visual Recognition service\n5. Create an unbounded Visual Recognition instance\n6. Open the new service and navigate to the Service Credentials\n7. Copy the api_key to the clipboard\n8. Open the above \"visual recognition v3\" node and paste your new API Key","x":195,"y":411,"wires":[]},{"id":"c7ebfb7b.465578","type":"template","z":"6191480b.fcc298","name":"Home_Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Bank Of Cyprus Visual Recognition </h1>\n<H2>Give us a picture of a person and we will propose you the best bank offers applied on them</H2>\n<img src=\"https://lh3.googleusercontent.com/rrtMaVcnT6m8Sp9a9-41SttiJyR5r2lp2-wAC3aPqCZ1jhAaicdClQN35zh7NpHu9w=w300\">\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <br>Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>","x":575,"y":47,"wires":[["7d2dabed.fc1484"]]}]